{% load static %}
<link rel="stylesheet" href="{% static 'styles.css' %}">

<div class="button-container">
  <!-- Кнопка 1 -->
  <a href="#" class="button">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="20"
      viewBox="0 0 20 20"
      height="20"
      fill="none"
      class="svg-icon"
    >
      <g stroke-width="1.5" stroke-linecap="round" stroke="#ff342b">
        <path
          d="m3.33337 10.8333c0 3.6819 2.98477 6.6667 6.66663 6.6667 3.682 0 6.6667-2.9848 6.6667-6.6667 0-3.68188-2.9847-6.66664-6.6667-6.66664-1.29938 0-2.51191.37174-3.5371 1.01468"
        ></path>
        <path
          d="m7.69867 1.58163-1.44987 3.28435c-.18587.42104.00478.91303.42582 1.0989l3.28438 1.44986"
        ></path>
      </g>
    </svg>
    <span class="lable">Repeat</span>
  </a>
  
  <!-- Кнопка 2 -->
  <a href="{% url 'wordaddview' %}" class="button">
    <svg class="svg-icon" fill="none" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
      <g stroke="#a649da" stroke-linecap="round" stroke-width="2">
        <path d="m20 20h-16"></path>
        <path clip-rule="evenodd" d="m14.5858 4.41422c.781-.78105 2.0474-.78105 2.8284 0 .7811.78105.7811 2.04738 0 2.82843l-8.28322 8.28325-3.03046.202.20203-3.0304z" fill-rule="evenodd"></path>
      </g>
    </svg>
    <span class="lable">Add</span>
  </a>
  
  <!-- Кнопка 3 -->
  <a href="{% url 'stats' %}" class="button">
    <svg fill="none" height="24" viewBox="0 0 24 24" width="24" class="svg-icon">
      <g clip-rule="evenodd" fill-rule="evenodd" stroke="#056dfa" stroke-linecap="round" stroke-width="2">
        <path d="m3 7h17c.5523 0 1 .44772 1 1v11c0 .5523-.4477 1-1 1h-16c-.55228 0-1-.4477-1-1z"></path>
        <path d="m3 4.5c0-.27614.22386-.5.5-.5h6.29289c.13261 0 .25981.05268.35351.14645l2.8536 2.85355h-10z"></path>
      </g>
    </svg>
    <span class="lable">Stats</span>
  </a>
</div>
